body { background-color: linen;background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReZXDmE5iVd7A8eGapTKKm7WRwoVYfAcCV9TjoMCug-SqRstaa)}
h1{color:maroon;margin-right: 100px}
h2{color:purple;margin-right: 100px}
p{border: 5px}
div{background-color:lightgrey;width:300px;border:25px solid green;padding:25px;margin:25px}
